flows_Gemalto.json
[{"id":"e9cabb74.fe91","type":"tab","label":"OL Connect API","disabled":false,"info":""},{"id":"51790cbc.40d12c","type":"tab","label":"Health Dashboard (not needed)","disabled":false,"info":""},{"id":"c0348924.26f378","type":"tab","label":"Todo","disabled":true,"info":""},{"id":"9d046ee7.fd5b38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"676f881a.2970e","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"Test","name":"Test database"},{"id":"ba23399f.6256c8","type":"olc-server","z":"","host":"localhost","port":"9340","username":"ol-admin","password":"secret","name":"My Dev Server"},{"id":"93ad53ce.0a9168","type":"olc-server","z":"","host":"localhost","port":"9340","username":"ol-admin","password":"secret","name":"My Dev Server"},{"id":"793172d6.403c04","type":"ui_group","z":"","name":"Last refresh","tab":"31f79a51.af9836","disp":true,"width":"12","collapse":false},{"id":"31f79a51.af9836","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"eca3b0d4.5b7868","type":"ui_group","z":"","name":"Group 1","tab":"33273e47.bcd172","order":1,"disp":false,"width":"6"},{"id":"33273e47.bcd172","type":"ui_tab","z":"","name":"switch test","icon":"dashboard","order":3},{"id":"8378d78.5c46728","type":"ui_group","z":"","name":"Memory","tab":"377f01b7.8869de","order":3,"disp":true,"width":"6"},{"id":"56329cc.047c7e4","type":"ui_group","z":"","name":"System Information","tab":"377f01b7.8869de","order":1,"disp":true,"width":"6"},{"id":"377f01b7.8869de","type":"ui_tab","z":"","name":"System","icon":"computer"},{"id":"24ff660a.29feda","type":"ui_group","z":"","name":"System Information","tab":"377f01b7.8869de","order":1,"disp":true,"width":"8","collapse":true},{"id":"ecfbd287.bb2578","type":"ui_group","z":"","name":"CPU Status","tab":"","order":2,"disp":true,"width":"8","collapse":true},{"id":"db5658b7.cb508","type":"ui_group","z":"","name":"Memory Status","tab":"","order":3,"disp":true,"width":"8","collapse":true},{"id":"dcb78f2d.54d3b8","type":"olc-server","z":"","host":"localhost","port":"9340","username":"ol-admin","password":"secret","name":"My Dev Server"},{"id":"58ab77d5.3bbc1","type":"olc-server","z":"","host":"localhost","port":"9340","username":"ol-admin","password":"secret","name":"My Dev Server"},{"id":"8472406d.86a92","type":"MySQLdatabase","z":"","name":"","host":" olsaas1-mysql1.mysql.database.azure.com","port":"3306","db":"olsaas1olc1","tz":""},{"id":"32cf0589.c33222","type":"olc-server","z":"","host":"localhost","port":"9340","username":"ol-admin","password":"secret","name":"My Dev Server"},{"id":"afa27510.266cb8","type":"ui_group","z":"","name":"Last refresh","tab":"421657f0.849b9","disp":true,"width":"12","collapse":false},{"id":"87abfb49.329e98","type":"olc-server","z":"","host":"localhost","port":"9340","username":"ol-admin","password":"secret","name":"My Dev Server"},{"id":"421657f0.849b9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3bcfc563.c8143a","type":"OS","z":"51790cbc.40d12c","name":"","x":750,"y":660,"wires":[["5f455144.bc0f08","f4763abf.8cb18","cd57bfe5.65992","294ace08.867382"]]},{"id":"2233cb65.66d92c","type":"Uptime","z":"51790cbc.40d12c","name":"","x":761,"y":615,"wires":[["cf9df36a.57f2"]]},{"id":"f6cd8807.f07de8","type":"CPUs","z":"51790cbc.40d12c","name":"","x":430,"y":100,"wires":[["ec2219ac.163db8"]]},{"id":"541ad389.27c8fc","type":"Memory","z":"51790cbc.40d12c","name":"","x":820,"y":260,"wires":[["369ef251.d4b55e","de59b3ca.dd8dc8","ac3731e3.7a7948","379f5c7f.1e2964"]]},{"id":"a69a6d00.74a27","type":"inject","z":"51790cbc.40d12c","name":"update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"","x":94,"y":245,"wires":[["3bcfc563.c8143a","2233cb65.66d92c","f6cd8807.f07de8","541ad389.27c8fc"]]},{"id":"369ef251.d4b55e","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":428,"wires":[["3d09a3d7.88d964"]]},{"id":"3d09a3d7.88d964","type":"ui_gauge","z":"51790cbc.40d12c","name":"Memory Usage","group":"8378d78.5c46728","order":2,"width":0,"height":0,"gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1009,"y":432,"wires":[]},{"id":"de59b3ca.dd8dc8","type":"function","z":"51790cbc.40d12c","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":471,"wires":[["c631b09d.f27ce"]]},{"id":"ac3731e3.7a7948","type":"function","z":"51790cbc.40d12c","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":517,"wires":[["2726425a.e48c9e"]]},{"id":"c631b09d.f27ce","type":"ui_text","z":"51790cbc.40d12c","group":"8378d78.5c46728","order":3,"width":0,"height":0,"name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":1008,"y":475,"wires":[]},{"id":"2726425a.e48c9e","type":"ui_text","z":"51790cbc.40d12c","group":"8378d78.5c46728","order":4,"width":0,"height":0,"name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":1012,"y":518,"wires":[]},{"id":"cf9df36a.57f2","type":"function","z":"51790cbc.40d12c","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":922,"y":615,"wires":[["dbdf60f6.459118"]]},{"id":"dbdf60f6.459118","type":"ui_text","z":"51790cbc.40d12c","group":"56329cc.047c7e4","order":1,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":1077,"y":614,"wires":[]},{"id":"5f455144.bc0f08","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":921,"y":652,"wires":[["813ae4b.05c0598"]]},{"id":"813ae4b.05c0598","type":"ui_text","z":"51790cbc.40d12c","group":"56329cc.047c7e4","order":2,"width":0,"height":0,"name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":1089,"y":654,"wires":[]},{"id":"f4763abf.8cb18","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.platform;\nreturn msg;","outputs":1,"noerr":0,"x":923,"y":690,"wires":[["deb09153.6bed28"]]},{"id":"deb09153.6bed28","type":"ui_text","z":"51790cbc.40d12c","group":"56329cc.047c7e4","order":3,"width":0,"height":0,"name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":1085,"y":693,"wires":[]},{"id":"cd57bfe5.65992","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":924,"y":729,"wires":[["4a90764e.16b9"]]},{"id":"4a90764e.16b9","type":"ui_text","z":"51790cbc.40d12c","group":"56329cc.047c7e4","order":4,"width":0,"height":0,"name":"","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":1073,"y":733,"wires":[]},{"id":"294ace08.867382","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":925,"y":765,"wires":[["94523c4.a7e5c4"]]},{"id":"94523c4.a7e5c4","type":"ui_text","z":"51790cbc.40d12c","group":"56329cc.047c7e4","order":5,"width":0,"height":0,"name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":1085,"y":771,"wires":[]},{"id":"ec2219ac.163db8","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["c158cb18.d3bd5"]]},{"id":"c158cb18.d3bd5","type":"ui_text","z":"51790cbc.40d12c","group":"56329cc.047c7e4","order":6,"width":0,"height":0,"name":"","label":"CPU 1","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":100,"wires":[]},{"id":"379f5c7f.1e2964","type":"function","z":"51790cbc.40d12c","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":822,"y":389,"wires":[["8189b1a7.25d3e"]]},{"id":"8189b1a7.25d3e","type":"ui_chart","z":"51790cbc.40d12c","name":"Memory - 24 Hours","group":"8378d78.5c46728","order":1,"width":0,"height":0,"label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","outputs":1,"x":1020,"y":392,"wires":[[]]},{"id":"a0ddd1aa.eeb3e","type":"comment","z":"51790cbc.40d12c","name":"Memory Usage","info":"","x":1005,"y":342,"wires":[]},{"id":"a4084b2.5cd3a38","type":"comment","z":"51790cbc.40d12c","name":"System Information","info":"","x":790,"y":560,"wires":[]},{"id":"9c8e0791.7a0e38","type":"ping","z":"51790cbc.40d12c","name":"google","host":"8.8.8.8","timer":"60","x":350,"y":1060,"wires":[["3f33b54e.8662ca"]]},{"id":"3f33b54e.8662ca","type":"ui_chart","z":"51790cbc.40d12c","name":"","group":"24ff660a.29feda","order":1,"width":0,"height":0,"label":"Ping time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":1060,"wires":[[]]},{"id":"ab0049e8.3b4708","type":"ui_switch","z":"51790cbc.40d12c","name":"","label":"Swirth Debug message","tooltip":"","group":"eca3b0d4.5b7868","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":900,"wires":[["dca8165a.4185c"]]},{"id":"dca8165a.4185c","type":"function","z":"51790cbc.40d12c","name":"state","func":"var state = flow.get('debug') || false;\n\nif (msg.topic == 'switch') {\n    flow.set('debug', msg.payload);\n} \n\nmsg.payload = 'Debugging message is ' + (state ? 'on':'off');\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":900,"wires":[["4200e619.a2fe2"]]},{"id":"4200e619.a2fe2","type":"debug","z":"51790cbc.40d12c","name":"state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":900,"wires":[]},{"id":"41318030.86f1a","type":"inject","z":"51790cbc.40d12c","name":"on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":860,"wires":[["ab0049e8.3b4708"]]},{"id":"fb7bdb90.0937f","type":"inject","z":"51790cbc.40d12c","name":"off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":920,"wires":[["ab0049e8.3b4708"]]},{"id":"b054fba2.91f6b8","type":"comment","z":"51790cbc.40d12c","name":"----------------------------------------------------- Dashboard ----------------------------------------------","info":"","x":400,"y":800,"wires":[]},{"id":"2a4781c6.90aa96","type":"base64","z":"e9cabb74.fe91","name":"","action":"","property":"payload","x":1140,"y":560,"wires":[["f3c4d4c9.77884"]]},{"id":"3bc16a1e.12fcfe","type":"http in","z":"e9cabb74.fe91","name":"","url":"/refresh","method":"post","upload":false,"swaggerDoc":"","x":190,"y":500,"wires":[["3ea57949.49ab26","20a6e327.3ceae4"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"23f67cb0.e0ba2c","type":"http request","z":"e9cabb74.fe91","name":"Image preview","method":"POST","ret":"bin","paytoqs":false,"url":"http://localhost:9340/rest/serverengine/workflow/contentcreation/imagepreview/{{{template}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":860,"y":500,"wires":[["7813327c.859084"]]},{"id":"7813327c.859084","type":"switch","z":"e9cabb74.fe91","name":"status code","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":540,"wires":[["ed010163.f4246"],["2a4781c6.90aa96","b99c7591.c776c"]]},{"id":"ed010163.f4246","type":"file in","z":"e9cabb74.fe91","name":"error.jpg","filename":"C:/red/error.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":500,"wires":[["2a4781c6.90aa96"]]},{"id":"329f1c98.b8f114","type":"http response","z":"e9cabb74.fe91","name":"","statusCode":"200","headers":{"content-type":"text/html"},"x":1460,"y":500,"wires":[]},{"id":"f3c4d4c9.77884","type":"function","z":"e9cabb74.fe91","name":"prepend image","func":"msg.payload = \"data:image/jpg;base64, \" + msg.payload;\ndelete msg.template;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":600,"wires":[["329f1c98.b8f114","f311e28e.79eb4"]]},{"id":"4dedf0ae.6d4168","type":"comment","z":"e9cabb74.fe91","name":"-------------------------------------------------------------- Rasterize ---------------------------------------------------------","info":"# Raster\ncall a Connect template and rasterize \nthen return a base 64 string","x":480,"y":440,"wires":[]},{"id":"b99c7591.c776c","type":"image","z":"e9cabb74.fe91","name":"","width":"200","data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":860,"y":600,"wires":[]},{"id":"95a23673.fcd168","type":"file","z":"e9cabb74.fe91","name":"","filename":"c:\\temp\\lastjson.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":500,"y":820,"wires":[[]]},{"id":"83a8e928.de499","type":"comment","z":"e9cabb74.fe91","name":"---- For debug purpose ----","info":"","x":510,"y":740,"wires":[]},{"id":"2be6e472.a11f1c","type":"json","z":"e9cabb74.fe91","name":"","property":"payload","action":"","pretty":false,"x":790,"y":980,"wires":[["1f076d3d.9aa6a3"]]},{"id":"ef3682e6.5c6da8","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.json","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":980,"wires":[["2be6e472.a11f1c"]]},{"id":"a6c2aa69.b8ff88","type":"comment","z":"e9cabb74.fe91","name":"----------------------------------------------------- Serve HTML ressource  --------------------------------------------------","info":"","x":480,"y":1900,"wires":[]},{"id":"890d6089.1a499","type":"http in","z":"e9cabb74.fe91","name":"","url":"/corpo_message","method":"post","upload":false,"swaggerDoc":"","x":220,"y":1960,"wires":[["24b0b8f9.4aa74","64edd4b3.be136c"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"8d229b3f.1b3228","type":"http response","z":"e9cabb74.fe91","name":"","statusCode":"200","headers":{"content-type":"text/html"},"x":1700,"y":2040,"wires":[]},{"id":"c90e8cc2.191fb","type":"http in","z":"e9cabb74.fe91","name":"","url":"/get_editor","method":"post","upload":false,"swaggerDoc":"","x":200,"y":2101,"wires":[["f0c54999.2e741"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"1d0babc2.9c01e4","type":"file in","z":"e9cabb74.fe91","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":610,"y":2101,"wires":[["d90984fa.eae78"]]},{"id":"f311e28e.79eb4","type":"ui_template","z":"e9cabb74.fe91","group":"afa27510.266cb8","name":"","order":0,"width":0,"height":0,"format":"<img width=\"300px\" src=\"{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1140,"y":680,"wires":[[]]},{"id":"b7e30424.c40978","type":"function","z":"e9cabb74.fe91","name":"data -> payload","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":780,"wires":[["95a23673.fcd168"]]},{"id":"bf3d685.06bdb98","type":"function","z":"e9cabb74.fe91","name":"IPv4 address","func":"// look up for the first IP v4 address\n\nfor (i = 0; i < msg.payload.networkInterfaces.Ethernet.length; i++) {\n    if (msg.payload.networkInterfaces.Ethernet[i].family == 'IPv4') {\n        msg.payload = msg.payload.networkInterfaces.Ethernet[i].address;\n        break;\n    }\n} \nmsg.topic = \"interface\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1940,"wires":[["467dcd51.2bddac"]]},{"id":"64edd4b3.be136c","type":"OS","z":"e9cabb74.fe91","name":"","x":430,"y":1980,"wires":[["1539c81c.5abee8"]]},{"id":"1539c81c.5abee8","type":"function","z":"e9cabb74.fe91","name":"hostname","func":"msg.payload = msg.payload.hostname;\nmsg.topic = \"host\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1980,"wires":[["467dcd51.2bddac"]]},{"id":"467dcd51.2bddac","type":"join","z":"e9cabb74.fe91","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":1960,"wires":[["b6d7a2aa.e5a1a8"]]},{"id":"24b0b8f9.4aa74","type":"NetworkIntf","z":"e9cabb74.fe91","name":"","x":450,"y":1940,"wires":[["bf3d685.06bdb98"]]},{"id":"b6d7a2aa.e5a1a8","type":"template","z":"e9cabb74.fe91","name":"Corpo Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>OL Connect Server ({{payload.host}})</h1>\n    <p>\n    IP Address : {{payload.interface}} !\n    </p>\n</body>\n</html>","output":"str","x":980,"y":1960,"wires":[["8d229b3f.1b3228"]]},{"id":"1f076d3d.9aa6a3","type":"debug","z":"e9cabb74.fe91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":980,"wires":[]},{"id":"3ea57949.49ab26","type":"function","z":"e9cabb74.fe91","name":"filter message","func":"if ( flow.get('debug')) {\n    return msg;\n} else {\n    return;\n}\n","outputs":1,"noerr":0,"x":460,"y":980,"wires":[["ef3682e6.5c6da8"]]},{"id":"bb960fc3.745e7","type":"function","z":"e9cabb74.fe91","name":"set variable for image preview","func":"msg.page = msg.payload.page;\nmsg.format = 'png';\nmsg.topic = 'refreshback';\nmsg.bank = msg.payload.bank;\nmsg.filename = flow.get(\"templatePath\") + '/'+ msg.bank + '/' + msg.payload.templateName + '/small.json';\nmsg.template = encodeURIComponent(msg.bank + msg.payload.templateName+'.ol-template');\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["3a2cc288.0a3d7e"]]},{"id":"20a6e327.3ceae4","type":"change","z":"e9cabb74.fe91","name":"WPdata and preserve payload","rules":[{"t":"set","p":"WPdata","pt":"msg","to":"payload.json","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.json","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":500,"wires":[["c8874fbb.7d9838"]]},{"id":"c8874fbb.7d9838","type":"json","z":"e9cabb74.fe91","name":"WPdata parse","property":"payload","action":"","pretty":false,"x":480,"y":540,"wires":[["bb960fc3.745e7"]]},{"id":"3a2cc288.0a3d7e","type":"file in","z":"e9cabb74.fe91","name":"load small data file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":620,"wires":[["8b2c7e99.fb46a"]]},{"id":"8b2c7e99.fb46a","type":"json","z":"e9cabb74.fe91","name":"parse datafile","property":"payload","action":"","pretty":false,"x":480,"y":660,"wires":[["1273303c.bc435"]]},{"id":"1273303c.bc435","type":"function","z":"e9cabb74.fe91","name":"inject WPdata in record","func":"msg.payload = {data: msg.payload, pages: msg.page, format: msg.format};\nmsg.payload.data.WPdata = msg.WPdata;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":700,"wires":[["b7e30424.c40978","23f67cb0.e0ba2c"]]},{"id":"41cedb6.e8833a4","type":"template","z":"e9cabb74.fe91","name":"Drag and drop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n<div id=\"drop-area\">\n\t<form class=\"my-form\" method=\"post\" enctype=\"multipart/form-data\">\n\t\t<p>Upload a file with the dialog or by dragging and dropping an OL-package (or zip) onto the dashed region</p>\n  \t\t<input type=\"hidden\" name=\"ted_upload_action\" value=\"upload\">\n\t\t<input type=\"file\" id=\"ted_upload\" name=\"ted_upload\" accept=\".ol-template,.ol-datamapper,.mai,.json,.data\">\n\t\t<a class=\"button\"><label class=\"button\" for=\"ted_upload\">Select files</label></a>\n  \t\t<button id=\"upload_submit\" type=\"submit\">\".__('Upload','theme').\"</button>\n\t</form>\n</div>\n</body>\n","output":"str","x":420,"y":2040,"wires":[["8d229b3f.1b3228"]]},{"id":"7521330c.7a4abc","type":"http in","z":"e9cabb74.fe91","name":"","url":"/ted_drop","method":"post","upload":false,"swaggerDoc":"","x":200,"y":2040,"wires":[["41cedb6.e8833a4"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"38bd129c.95ec6e","type":"http in","z":"e9cabb74.fe91","name":"","url":"/upload","method":"post","upload":false,"swaggerDoc":"","x":210,"y":2460,"wires":[["ec441fd2.bfdc"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"4d3311f6.44c41","type":"http request","z":"e9cabb74.fe91","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":2560,"wires":[["974f4908.7d85a8"]]},{"id":"ec441fd2.bfdc","type":"function","z":"e9cabb74.fe91","name":"set url","func":"var msg1 ={\n    url: flow.get(\"baseUrl\") + msg.payload.url,\n    type: msg.payload.type,\n    original_name: msg.payload.original_name,\n    size: msg.payload.size,\n    bank: msg.payload.bank,\n    res: msg.res\n}\nreturn msg1;","outputs":1,"noerr":0,"x":190,"y":2519,"wires":[["4d3311f6.44c41"]]},{"id":"974f4908.7d85a8","type":"function","z":"e9cabb74.fe91","name":"Set multiple attribute","func":"// Extract the file extension and name of the resource.\nmsg.file = encodeURIComponent( msg.original_name );\nmsg.ext = msg.original_name.split('.').pop(); // extract ext from filename\ndelete msg.url; // use the one in the next node\nmsg.original_name = msg.original_name.slice(0,-(msg.ext.length + 1)); //remove .ol-package or .zip\nmsg.path = flow.get(\"templatePath\") + '/'+ msg.bank + '/' + msg.original_name + '/';\nnode.status({fill:\"blue\",shape:\"dot\",text: msg.original_name + ' (' + msg.ext + ')'});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":2620,"wires":[["75451e.c779d2e4"]]},{"id":"9f6cc2c7.8d2ee","type":"comment","z":"e9cabb74.fe91","name":"---------- WP drop resources to the Connect File Store ----------------------------","info":"asdfasdf","x":410,"y":2400,"wires":[]},{"id":"446bc20f.4cfa3c","type":"http response","z":"e9cabb74.fe91","name":"200 application/json","statusCode":"200","headers":{"content-type":"application/json"},"x":1360,"y":1680,"wires":[]},{"id":"32f9cfa2.1c398","type":"config","z":"e9cabb74.fe91","name":"Alienware config","properties":[{"p":"dataPath","pt":"flow","to":"C:/node/data","tot":"str"},{"p":"server","pt":"flow","to":"Alienware","tot":"str"},{"p":"resourcePath","pt":"flow","to":"C:\\wamp64\\www\\gemalto\\wp-content\\themes\\Document-Assembly","tot":"str"},{"p":"filestore","pt":"flow","to":"C:\\Users\\monsi\\Connect\\filestore\\","tot":"str"},{"p":"templatePath","pt":"flow","to":"c:/node/original-template","tot":"str"},{"p":"baseUrl","pt":"flow","to":"","tot":"str"}],"active":true,"x":920,"y":120,"wires":[]},{"id":"455393a.aec796c","type":"config","z":"e9cabb74.fe91","name":"Azure config","properties":[{"p":"dataPath","pt":"flow","to":"G:/node/data","tot":"str"},{"p":"server","pt":"flow","to":"azure","tot":"str"},{"p":"resourcePath","pt":"flow","to":"G:/Gemalto/red/Document-Assembly","tot":"str"},{"p":"filestore","pt":"flow","to":"C:\\Users\\monsi\\Connect\\filestore\\workflow\\template","tot":"str"},{"p":"templatePath","pt":"flow","to":"G:/node/original-template","tot":"str"},{"p":"baseUrl","pt":"flow","to":"https://olsaas1-web2.ol-cloud.com","tot":"str"}],"active":true,"x":910,"y":240,"wires":[]},{"id":"fef84d4f.85466","type":"inject","z":"e9cabb74.fe91","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":140,"wires":[["f7e452a8.d9abc8"]]},{"id":"60500e05.d8927","type":"comment","z":"e9cabb74.fe91","name":"-------------------------------------------- Initialize a few flow variable depending on server we are running on ---------------------------------------------------------","info":"","x":620,"y":60,"wires":[]},{"id":"f7e452a8.d9abc8","type":"OS","z":"e9cabb74.fe91","name":"","x":370,"y":140,"wires":[["9298dd1b.2b8df"]]},{"id":"9298dd1b.2b8df","type":"switch","z":"e9cabb74.fe91","name":"switch on hostname","property":"payload.hostname","propertyType":"msg","rules":[{"t":"eq","v":"Alienware","vt":"str"},{"t":"eq","v":"olsaas1-olc1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":580,"y":140,"wires":[["32f9cfa2.1c398","ae626d96.282a8","1549868c.270449"],["455393a.aec796c","b381f251.09d81","1d22fe58.017e1a"]]},{"id":"f0c54999.2e741","type":"function","z":"e9cabb74.fe91","name":"filename -> templateEditor","func":"msg.filename = flow.get(\"resourcePath\") +'/templateEditor.html';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2101,"wires":[["1d0babc2.9c01e4"]]},{"id":"b00ee717.736158","type":"http in","z":"e9cabb74.fe91","name":"","url":"/template","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1620,"wires":[["818707a9.8cbc8"]]},{"id":"d276d8c1.921618","type":"comment","z":"e9cabb74.fe91","name":"-------------- get a specific template structure in JSON","info":"","x":310,"y":1580,"wires":[]},{"id":"ae626d96.282a8","type":"file in","z":"e9cabb74.fe91","name":"","filename":"C:\\wamp64\\www\\gemalto\\wp-content\\themes\\Document-Assembly\\TED payload.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":160,"wires":[["7af45afb.b78814"]]},{"id":"7af45afb.b78814","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"tedPayload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":160,"wires":[[]]},{"id":"1549868c.270449","type":"file in","z":"e9cabb74.fe91","name":"","filename":"C:\\wamp64\\www\\gemalto\\wp-content\\themes\\Document-Assembly\\TED condition.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":200,"wires":[["352a09c.4079e76"]]},{"id":"352a09c.4079e76","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"tedCondition","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":200,"wires":[[]]},{"id":"b381f251.09d81","type":"file in","z":"e9cabb74.fe91","name":"","filename":"G:/Gemalto/red/Document-Assembly/TED payload.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1020,"y":280,"wires":[["c8a6002.8dbdf"]]},{"id":"c8a6002.8dbdf","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"tedPayload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":280,"wires":[[]]},{"id":"1d22fe58.017e1a","type":"file in","z":"e9cabb74.fe91","name":"","filename":"G:/Gemalto/red/Document-Assembly/TED condition.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1020,"y":320,"wires":[["132c239b.0bd2cc"]]},{"id":"132c239b.0bd2cc","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"tedCondition","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":320,"wires":[[]]},{"id":"20387d42.cc42f2","type":"file","z":"e9cabb74.fe91","name":"write file","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":240,"y":2840,"wires":[["7071dea9.caf898"]]},{"id":"3ca5e995.e0a73e","type":"debug","z":"e9cabb74.fe91","name":"Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1520,"y":2980,"wires":[]},{"id":"75451e.c779d2e4","type":"zip","z":"e9cabb74.fe91","name":"unzip","mode":"decompress","filename":"","outasstring":false,"x":190,"y":2680,"wires":[["f82cd4d0.83fbf"]]},{"id":"f82cd4d0.83fbf","type":"split","z":"e9cabb74.fe91","name":"for each","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":200,"y":2760,"wires":[["69b5ee81.f70038"]]},{"id":"69b5ee81.f70038","type":"function","z":"e9cabb74.fe91","name":"set filename","func":"msg.filename = flow.get(\"templatePath\") + '/'+ msg.bank + '/' + msg.original_name + '/' + msg.payload.filename;\nmsg.file = msg.payload.filename; // keep filename for the join\nmsg.payload = msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":2800,"wires":[["20387d42.cc42f2"]]},{"id":"1855dd7e.fb2e63","type":"join","z":"e9cabb74.fe91","name":"return array of file written","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":2920,"wires":[["1a8cb044.e8bd1"]]},{"id":"7071dea9.caf898","type":"function","z":"e9cabb74.fe91","name":"filename -> payload","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2880,"wires":[["1855dd7e.fb2e63"]]},{"id":"1a8cb044.e8bd1","type":"function","z":"e9cabb74.fe91","name":"setup & we have necessary parts?","func":"// input is array of filenames in random order\n// one must be template and one a datamap\n\nvar datamap, template, options = '';\n\nfor (var i=0; i<msg.payload.length;i++) {\n    if (msg.payload[i].toLowerCase().endsWith('options.json')) {\n        options = msg.payload[i];\n    } else\n    if (msg.payload[i].split('.').pop().toLowerCase() == 'ol-datamapper') {\n        datamap = msg.payload[i];\n    } else\n    if (msg.payload[i].split('.').pop().toLowerCase() == 'ol-template') {\n        template = msg.payload[i];\n    }\n}\n\nif ( datamap && template ) {\n    msg.datamapFilename =datamap;\n    msg.templateFilename = template;\n    msg.indexFilename = msg.path + 'index.json';\n    msg.optionsFilename = options ? msg.path + 'options.json' : '';\n    msg.testPdfFilename = msg.path + 'sample.pdf';\n    msg.dataFilename = msg.path + 'original.data';\n    msg.datamap = encodeURIComponent(msg.bank + msg.original_name + '.OL-datamapper');\n    msg.template = encodeURIComponent(msg.bank + msg.original_name + '.OL-template');\n    msg.data = encodeURIComponent(msg.bank + msg.original_name + '.data');    \n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":280,"y":2960,"wires":[["eb0c89cf.5f54e8"],["608636e9.afbb4"]]},{"id":"8a265a05.fcbc3","type":"file in","z":"e9cabb74.fe91","name":"load template file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1250,"y":2540,"wires":[["1350070b.c5e891"]]},{"id":"49e43447.1c515c","type":"comment","z":"e9cabb74.fe91","name":"Save all files to folder","info":"","x":240,"y":2720,"wires":[]},{"id":"c4ca6d79.1b16d","type":"http request","z":"e9cabb74.fe91","name":"Upload template to FileStore","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:9340/rest/serverengine/filestore/template?filename={{{template}}}&persistent=true","tls":"","persist":false,"proxy":"","authType":"basic","x":1280,"y":2940,"wires":[["dcd43d89.38bee8"]]},{"id":"dcd43d89.38bee8","type":"switch","z":"e9cabb74.fe91","name":"status code?","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":2980,"wires":[["d4da888a.e7422"],["a92cf735.eb438","7146d87.17e7a28"]]},{"id":"d4da888a.e7422","type":"template","z":"e9cabb74.fe91","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Error file store : {{payload}} !","output":"str","x":1390,"y":2980,"wires":[["3ca5e995.e0a73e"]]},{"id":"bc241e49.30b7b8","type":"comment","z":"e9cabb74.fe91","name":"Hack the template file by injecting some script","info":"","x":1330,"y":2460,"wires":[]},{"id":"294213e0.b7588c","type":"comment","z":"e9cabb74.fe91","name":"create sample data file in JSON","info":"","x":730,"y":2900,"wires":[]},{"id":"51809c89.2ce12c","type":"debug","z":"e9cabb74.fe91","name":"Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":3020,"wires":[]},{"id":"157eb59b.516e3a","type":"change","z":"e9cabb74.fe91","name":"set template filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"templateFilename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2500,"wires":[["8a265a05.fcbc3"]]},{"id":"10b4b9eb.7d14c6","type":"http request","z":"e9cabb74.fe91","name":"Upload datamap to FileStore persitent","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:9340/rest/serverengine/filestore/DataMiningConfig?filename={{{datamap}}}&persistent=true","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":2820,"wires":[["cdd3ce1e.680e6"]]},{"id":"cdd3ce1e.680e6","type":"switch","z":"e9cabb74.fe91","name":"status code?","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":2860,"wires":[["afe4a1e7.9811b"],["f99935b3.165ad8"]]},{"id":"afe4a1e7.9811b","type":"template","z":"e9cabb74.fe91","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Error file store : {{payload}} !","output":"str","x":850,"y":2860,"wires":[["b4289355.0591b"]]},{"id":"b4289355.0591b","type":"debug","z":"e9cabb74.fe91","name":"Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":2860,"wires":[]},{"id":"f99935b3.165ad8","type":"change","z":"e9cabb74.fe91","name":"set datamap filename and id","rules":[{"t":"set","p":"filename","pt":"msg","to":"dataFilename","tot":"msg"},{"t":"set","p":"req.params.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2940,"wires":[["fea2fbff.3caf8"]]},{"id":"ace26f22.07523","type":"file in","z":"e9cabb74.fe91","name":"load the .ol-datamap","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":700,"y":2780,"wires":[["10b4b9eb.7d14c6"]]},{"id":"eb0c89cf.5f54e8","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"datamapFilename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2500,"wires":[["2734021a.0266fe"]]},{"id":"b0e69b5f.5dabf8","type":"olc-retrieve-data-records","z":"e9cabb74.fe91","server":"87abfb49.329e98","output":"values","name":"","x":710,"y":3020,"wires":[["acbd0acb.ab3c68"]]},{"id":"fea2fbff.3caf8","type":"olc-execute-data-mapping","z":"e9cabb74.fe91","server":"87abfb49.329e98","dmconfig":"{{{id}}}","name":"","x":700,"y":2980,"wires":[["b0e69b5f.5dabf8"]]},{"id":"9d8fb32f.b859c","type":"file","z":"e9cabb74.fe91","name":"write single record json file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":960,"y":3060,"wires":[["157eb59b.516e3a"]]},{"id":"9f14dec0.371018","type":"file","z":"e9cabb74.fe91","name":"write all record json file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":710,"y":3100,"wires":[[]]},{"id":"acbd0acb.ab3c68","type":"function","z":"e9cabb74.fe91","name":"write JSON datafile","func":"// this one is for the writting of large.json\nvar msg1= {\n    payload: msg.payload, \n    filename: msg.path + 'big.json'\n};\n\n// while this is for small.json and rest of the process\nmsg.filename= msg.path + 'small.json';\nmsg.payload = msg.payload.slice(0, 20); // keep first 20 record\nmsg.small = msg.payload[0]; // first record\nmsg.payload = msg.small; // continue with small\nreturn [msg,msg1];\n","outputs":2,"noerr":0,"x":690,"y":3060,"wires":[["9d8fb32f.b859c"],["9f14dec0.371018"]]},{"id":"ef0247eb.b86e78","type":"olc-create-preview-pdf","z":"e9cabb74.fe91","server":"87abfb49.329e98","template":"{{{id}}}","name":"","x":1260,"y":3100,"wires":[["f644340f.2f7988"]]},{"id":"a92cf735.eb438","type":"change","z":"e9cabb74.fe91","name":"set datamap filename and id","rules":[{"t":"set","p":"req.params.id","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"small","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":3060,"wires":[["ef0247eb.b86e78"]]},{"id":"1350070b.c5e891","type":"zip","z":"e9cabb74.fe91","name":"unzip","mode":"decompress","filename":"","outasstring":false,"x":1210,"y":2580,"wires":[["7919bcc.803a0c4"]]},{"id":"7919bcc.803a0c4","type":"function","z":"e9cabb74.fe91","name":"find index.xml","func":"\nmsg.zip = msg.payload; // keep the zip\nvar index = msg.payload.find(obj => obj.filename == 'index.xml');\nif (index) {\n    var b=Buffer.from(index.payload);\n    msg.payload = b.toString(); \n    return msg;\n} else {\n    return;\n}\n","outputs":1,"noerr":0,"x":1240,"y":2620,"wires":[["7bbeb09f.cbca38"]]},{"id":"7bbeb09f.cbca38","type":"xml","z":"e9cabb74.fe91","name":"xml -> json","property":"payload","attr":"","chr":"","x":1230,"y":2660,"wires":[["dc976c52.cbb238"]]},{"id":"dc976c52.cbb238","type":"function","z":"e9cabb74.fe91","name":"inject control script","func":"var msg2 = {};\nmsg2.payload = '';\n\n// find to see if the TED conditional is present\nvar script = msg.payload.package.scripts[0].script.find(obj => obj.name == 'TED conditional background');\n\n\n// if so replace the code by local one\nif (script) {\n    script.source = ['WPdata = JSON.parse(record.fields.WPdata);\\n' + flow.get('tedCondition')];\n    msg2.payload += '1';\n} else {\n    msg2.payload += '2';\n    msg.payload.package.scripts[0].script.unshift(\n        {\n            \"$\":{\"type\":\"STANDARD\"},\n            \"enabled\":[\"true\"],\n            \"findText\":[\"\"],\n            \"name\":[\"TED conditional background\"],\n            \"origin\":[\"\"],\n            \"selectorText\":[\"[section] body\"],\n            \"selectorType\":[\"QUERY\"],\n            \"source\":['WPdata = JSON.parse(record.fields.WPdata);\\n' + flow.get('tedCondition')]\n        }\n    );\n}\n\nscript = msg.payload.package.scripts[0].script.find(obj => obj.name == 'TED payload');\n\nif (script) {\n    msg2.payload += '3';\n    script.source = ['WPdata = JSON.parse(record.fields.WPdata);\\n'+\n                                'var aDate = new Date(), vCache = \"?v=\"+aDate.toISOString(); // force reload on remote\\n'+ \n                                flow.get('tedPayload')];\n} else {\n    msg2.payload += '4';\n    msg.payload.package.scripts[0].script.unshift(\n        {\n            \"$\": {\"type\": \"CONTROL\"},\n            \"enabled\": [\"true\"],\n            \"findText\": [\"\"],\n            \"name\": [\"TED payload\"],\n            \"origin\": [\"\"],\n            \"selectorText\": [\"\"],\n            \"selectorType\": [\"QUERY\"],\n            \"source\": ['WPdata = JSON.parse(record.fields.WPdata);\\n'+\n                                'var aDate = new Date(), vCache = \"?v=\"+aDate.toISOString(); // force reload on remote\\n'+ \n                                flow.get('tedPayload')]\n        }\n    );\n}\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":1250,"y":2700,"wires":[["afcaa963.e50b7","5ab5152b.be829c"],[]]},{"id":"afcaa963.e50b7","type":"xml","z":"e9cabb74.fe91","name":"json -> xml","property":"payload","attr":"","chr":"","x":1230,"y":2740,"wires":[["888943b2.b34858"]]},{"id":"888943b2.b34858","type":"function","z":"e9cabb74.fe91","name":"store index.xml","func":"\nvar index = msg.zip.find(obj => obj.filename == 'index.xml');\nif (index) {\n    index.payload = new Buffer(msg.payload);\n}\nmsg.payload = msg.zip;\ndelete msg.filename; // otherwise it confuse the zip plugin\nreturn msg;\n","outputs":1,"noerr":0,"x":1240,"y":2780,"wires":[["4b3ae689.9ae7c8"]]},{"id":"4b3ae689.9ae7c8","type":"zip","z":"e9cabb74.fe91","name":"zip","mode":"compress","filename":"","outasstring":false,"x":1210,"y":2820,"wires":[["4e2f8c59.af1ab4"]]},{"id":"88fdfd4a.bdca88","type":"debug","z":"e9cabb74.fe91","name":"Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1520,"y":3140,"wires":[]},{"id":"f644340f.2f7988","type":"switch","z":"e9cabb74.fe91","name":"status code?","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":3140,"wires":[["cb6e29a6.e2eb58"],["4e57714.cd3811"]]},{"id":"cb6e29a6.e2eb58","type":"template","z":"e9cabb74.fe91","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Error create test PDF : {{payload}} !","output":"str","x":1390,"y":3140,"wires":[["88fdfd4a.bdca88"]]},{"id":"ce1e0c7e.a9a18","type":"debug","z":"e9cabb74.fe91","name":"Success","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":3280,"wires":[]},{"id":"c606c63a.0c36","type":"template","z":"e9cabb74.fe91","name":"Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Success creating test PDF using : {{datamap}} and {{template}} !","output":"str","x":1220,"y":3280,"wires":[["ce1e0c7e.a9a18"]]},{"id":"3889f4d7.1abe2c","type":"change","z":"e9cabb74.fe91","name":"set filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"indexFilename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":2740,"wires":[["d231084b.b96b2"]]},{"id":"d231084b.b96b2","type":"file","z":"e9cabb74.fe91","name":"write index.json","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1500,"y":2780,"wires":[[]]},{"id":"58e052a.a689a2c","type":"comment","z":"e9cabb74.fe91","name":"Send datamap to filestore persitent","info":"","x":740,"y":2700,"wires":[]},{"id":"fd1ad52a.44a558","type":"comment","z":"e9cabb74.fe91","name":"Test with a small PDF","info":"","x":1260,"y":3020,"wires":[]},{"id":"608636e9.afbb4","type":"template","z":"e9cabb74.fe91","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Error missing parts in package : {{payload}} !","output":"str","x":230,"y":3020,"wires":[["51809c89.2ce12c"]]},{"id":"4e57714.cd3811","type":"change","z":"e9cabb74.fe91","name":"set pdf filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"testPdfFilename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":3180,"wires":[["1909fa5b.1bb7b6"]]},{"id":"205b5080.3bc5d","type":"fs-ops-dir","z":"e9cabb74.fe91","name":"List file","path":"path","pathType":"msg","filter":"*.*","filterType":"str","dir":"files","dirType":"msg","x":500,"y":1540,"wires":[["afa4d4b2.e51828"]]},{"id":"8f99a607.982fc8","type":"function","z":"e9cabb74.fe91","name":"Set path","func":"msg.bank = msg.payload.bank;\nmsg.path = flow.get(\"templatePath\") + '/'+ msg.bank\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1540,"wires":[["205b5080.3bc5d"]]},{"id":"afa4d4b2.e51828","type":"fs-ops-type","z":"e9cabb74.fe91","name":"","path":"path","pathType":"msg","filename":"files","filenameType":"msg","filetype":"type","filetypeType":"msg","x":640,"y":1540,"wires":[["433aae0.4373dd4"]]},{"id":"2734021a.0266fe","type":"file in","z":"e9cabb74.fe91","name":"load the .ol-datamap","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":700,"y":2540,"wires":[["266629d2.53f8ae"]]},{"id":"266629d2.53f8ae","type":"zip","z":"e9cabb74.fe91","name":"unzip","mode":"decompress","filename":"","outasstring":false,"x":650,"y":2580,"wires":[["f2192033.c3ea68"]]},{"id":"f2192033.c3ea68","type":"function","z":"e9cabb74.fe91","name":"find sample data file","func":"var index = msg.payload.find(obj => obj.filename.startsWith(\"SampleDataFiles\"));\nif (index) {\n//    var b=Buffer.from(index.payload);\n    msg.filename = msg.dataFilename;\n    msg.payload = index.payload; \n    return msg;\n} else {\n    return;\n}\n","outputs":1,"noerr":0,"x":700,"y":2620,"wires":[["f37ad01a.ac32d8"]]},{"id":"153a7ea.0344381","type":"comment","z":"e9cabb74.fe91","name":"Extract sample data","info":"","x":690,"y":2460,"wires":[]},{"id":"f37ad01a.ac32d8","type":"file","z":"e9cabb74.fe91","name":"Write data file","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":680,"y":2660,"wires":[["f85c1c36.19f398"]]},{"id":"f85c1c36.19f398","type":"change","z":"e9cabb74.fe91","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"datamapFilename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2740,"wires":[["ace26f22.07523"]]},{"id":"1909fa5b.1bb7b6","type":"file","z":"e9cabb74.fe91","name":"Write sample pdf ","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1250,"y":3220,"wires":[["c606c63a.0c36"]]},{"id":"433aae0.4373dd4","type":"function","z":"e9cabb74.fe91","name":"return only directories","func":"msg.payload = [];\nfor (var i = 0; i < msg.files.length; i++) {\n    if (msg.type[i] == 'D') {\n        msg.payload.push(msg.files[i])\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1540,"wires":[["446bc20f.4cfa3c"]]},{"id":"bd7b0378.7b0d4","type":"http in","z":"e9cabb74.fe91","name":"","url":"/templates","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1540,"wires":[["8f99a607.982fc8"]]},{"id":"48771209.a6b3dc","type":"file","z":"e9cabb74.fe91","name":"Write modified template","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1270,"y":2900,"wires":[["c4ca6d79.1b16d"]]},{"id":"4e2f8c59.af1ab4","type":"change","z":"e9cabb74.fe91","name":"set template filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"templateFilename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2860,"wires":[["48771209.a6b3dc"]]},{"id":"2c4a275.0b06cd8","type":"comment","z":"e9cabb74.fe91","name":"-------------- get templates name for specific bank in the file store","info":"","x":350,"y":1500,"wires":[]},{"id":"818707a9.8cbc8","type":"function","z":"e9cabb74.fe91","name":"Set filename","func":"msg.bank = msg.payload.bank;\nmsg.template = msg.payload.template;\nmsg.filename = flow.get(\"templatePath\") + '/'+ msg.bank + '/' + msg.template + '/index.json';\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1620,"wires":[["4376bcb6.5d98a4"]]},{"id":"4376bcb6.5d98a4","type":"file in","z":"e9cabb74.fe91","name":"get index.json","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":540,"y":1620,"wires":[["6cd0abc8.2cf4cc"]]},{"id":"6cd0abc8.2cf4cc","type":"json","z":"e9cabb74.fe91","name":"string -> JSON","property":"payload","action":"","pretty":false,"x":740,"y":1620,"wires":[["446bc20f.4cfa3c"]]},{"id":"b95d1ff9.0ab208","type":"comment","z":"e9cabb74.fe91","name":"---- For debug purpose ----","info":"","x":1190,"y":640,"wires":[]},{"id":"3be96df0.14183a","type":"http in","z":"e9cabb74.fe91","name":"","url":"/connecttemplate","method":"post","upload":false,"swaggerDoc":"","x":240,"y":3500,"wires":[["bb3b39f3.c59bf","5e0202f.c64677c"]]},{"id":"ff8df38b.143ae8","type":"comment","z":"e9cabb74.fe91","name":"-------------- get connect template","info":"","x":270,"y":3460,"wires":[]},{"id":"bb3b39f3.c59bf","type":"function","z":"e9cabb74.fe91","name":"Set path and images array","func":"msg.bank = msg.payload.bank;\nmsg.template = msg.payload.template;\nmsg.path = flow.get(\"templatePath\") + '/'+ msg.bank + '/' + msg.template;\nmsg.WPdata = JSON.parse(msg.payload.WPdata);\nmsg.images = [];\nvar i,j,k;\nif (msg.WPdata.backgrounds) {\n    for (i=0; i < msg.WPdata.backgrounds.length; i++) {\n        if (msg.WPdata.backgrounds[i].background1 !== \"false\") {\n            msg.images.push(\n            {   url: msg.WPdata.backgrounds[i].background1,\n                filename: msg.WPdata.backgrounds[i].background1.split('/').pop()\n            });\n            msg.WPdata.backgrounds[i].background1 = 'images/' + msg.WPdata.backgrounds[i].background1.split('/').pop();\n        }\n        if (msg.WPdata.backgrounds[i].background2 !== \"false\") {\n            msg.images.push(\n            {   url: msg.WPdata.backgrounds[i].background2,\n                filename: msg.WPdata.backgrounds[i].background2.split('/').pop()\n            });\n            msg.WPdata.backgrounds[i].background2 = 'images/' + msg.WPdata.backgrounds[i].background2.split('/').pop();\n        }\n        if (msg.WPdata.backgrounds[i].background3 !== \"false\") {\n            msg.images.push(\n            {   url: msg.WPdata.backgrounds[i].background3,\n                filename: msg.WPdata.backgrounds[i].background3.split('/').pop()\n            });\n            msg.WPdata.backgrounds[i].background3 = 'images/' + msg.WPdata.backgrounds[i].background3.split('/').pop();\n        }\n        if (msg.WPdata.backgrounds[i].background4 !== \"false\") {\n            msg.images.push(\n            {   url: msg.WPdata.backgrounds[i].background4,\n                filename: msg.WPdata.backgrounds[i].background4.split('/').pop()\n            });\n            msg.WPdata.backgrounds[i].background4 = 'images/' + msg.WPdata.backgrounds[i].background4.split('/').pop();\n        }\n    }\n}\nif (msg.WPdata.itemsList) {\n     for (i=0; i < msg.WPdata.itemsList.length; i++) {\n        if (msg.WPdata.itemsList[i].images) {\n            for (j=0; j < msg.WPdata.itemsList[i].images.length; j++) {\n                msg.images.push(\n                {   url: msg.WPdata.itemsList[i].images[j].image,\n                    filename: msg.WPdata.itemsList[i].images[j].image.split('/').pop()\n                });\n                msg.WPdata.itemsList[i].images[j].image = 'images/' +  msg.WPdata.itemsList[i].images[j].image.split('/').pop();\n            }\n        }\n    }\n}\ndelete msg.WPdata.nonce;\ndelete msg.WPdata.page;\ndelete msg.WPdata.date_override;\nmsg.WPdataStr = JSON.stringify(msg.WPdata,null,2);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":3580,"wires":[["69da5980.4d9cf8"]]},{"id":"722eed9.4d1d994","type":"file in","z":"e9cabb74.fe91","name":"load template file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":350,"y":3700,"wires":[["c47fda5.71116a8"]]},{"id":"69da5980.4d9cf8","type":"fs-ops-dir","z":"e9cabb74.fe91","name":"get ol-template","path":"path","pathType":"msg","filter":"*.OL-template","filterType":"str","dir":"payload","dirType":"msg","x":340,"y":3620,"wires":[["49cffb2d.0a93a4"]]},{"id":"49cffb2d.0a93a4","type":"function","z":"e9cabb74.fe91","name":"set filename","func":"for (i=0; i < msg.payload.length; i++) {\n    if (msg.payload[i].split('.').pop().toLowerCase() == 'ol-template') {\n        msg.filename = msg.path + '/' + msg.payload[i];\n        return msg;    \n    }\n}\n","outputs":1,"noerr":0,"x":330,"y":3660,"wires":[["722eed9.4d1d994"]]},{"id":"a149cf63.80c9d","type":"http response","z":"e9cabb74.fe91","name":"200 application/octet-stream","statusCode":"200","headers":{"content-type":"application/octet-stream"},"x":1040,"y":3900,"wires":[]},{"id":"7ea54c3f.e6735c","type":"base64","z":"e9cabb74.fe91","name":"convert to base 64","action":"","property":"payload","x":750,"y":3900,"wires":[["a149cf63.80c9d"]]},{"id":"c47fda5.71116a8","type":"zip","z":"e9cabb74.fe91","name":"unzip","mode":"decompress","filename":"","outasstring":false,"x":310,"y":3760,"wires":[["aa583647.0391"]]},{"id":"aa583647.0391","type":"function","z":"e9cabb74.fe91","name":"find index.xml","func":"\nmsg.zip = msg.payload; // keep the zip\nvar index = msg.payload.find(obj => obj.filename == 'index.xml');\nif (index) {\n    var b=Buffer.from(index.payload);\n    msg.payload = b.toString(); \n    return msg;\n} else {\n    return;\n}\n","outputs":1,"noerr":0,"x":340,"y":3800,"wires":[["a52458e4.a5b6c"]]},{"id":"a52458e4.a5b6c","type":"xml","z":"e9cabb74.fe91","name":"xml -> json","property":"payload","attr":"","chr":"","x":330,"y":3840,"wires":[["5c3bd8eb.2e209"]]},{"id":"5c3bd8eb.2e209","type":"function","z":"e9cabb74.fe91","name":"inject control script","func":"\n// find to see if the TED conditional is present\nvar script = msg.payload.package.scripts[0].script.find(obj => obj.name == 'TED conditional background');\n\n\n// if so replace the code by local one\nif (script) {\n    script.source = [flow.get('tedCondition')];\n} else {\n    msg.payload.package.scripts[0].script.unshift(\n        {\n            \"$\":{\"type\":\"STANDARD\"},\n            \"enabled\":[\"true\"],\n            \"findText\":[\"\"],\n            \"name\":[\"TED conditional background\"],\n            \"origin\":[\"\"],\n            \"selectorText\":[\"[section] body\"],\n            \"selectorType\":[\"QUERY\"],\n            \"source\":['WPdata = JSON.parse(record.fields.WPdata);\\n' + flow.get('tedCondition')]\n        }\n    );\n}\n\nscript = msg.payload.package.scripts[0].script.find(obj => obj.name == 'TED payload');\n\nif (script) {\n    script.source = ['WPdata = ' + msg.WPdataStr + ';\\n'+ \n                                'var vCache = \"\"; // no need to force reload on local resources\\n'+ \n                                flow.get('tedPayload')];\n    \n} else {\n    msg.payload.package.scripts[0].script.unshift(\n        {\n            \"$\": {\"type\": \"CONTROL\"},\n            \"enabled\": [\"true\"],\n            \"findText\": [\"\"],\n            \"name\": [\"TED payload\"],\n            \"origin\": [\"\"],\n            \"selectorText\": [\"\"],\n            \"selectorType\": [\"QUERY\"],\n            \"source\": ['WPdata = ' + msg.WPdataStr + ';\\n' + \n                            'var vCache = \"\"; // no need to force reload on local resources\\n'+ \n                            flow.get('tedPayload')]\n        }\n    );\n}\n\n\nfunction uniqueID(){\n\tfunction chr4(){\n\t  return Math.random().toString(16).slice(-4);\n\t}\n\treturn 'res-' + chr4() + chr4() +\n\t  '-' + chr4() +\n\t  '-' + chr4() +\n\t  '-' + chr4() +\n\t  '-' + chr4() + chr4() + chr4();\n}\n\n// add image reference into index\nfor (i = 0; i < msg.images.length; i++) {\n    msg.payload.package.manifest[0].images.push(\n        {\n            \"image\":[\n                {\n                    \"$\": {\"id\":  uniqueID()},\n                    \"location\":[\"public/document/images/\"+msg.images[i].filename]\n                }\n            ]\n        }\n    );\n    \n}\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":3880,"wires":[["5acb83b.b3264fc"]]},{"id":"5acb83b.b3264fc","type":"xml","z":"e9cabb74.fe91","name":"json -> xml","property":"payload","attr":"","chr":"","x":330,"y":3920,"wires":[["365e4dea.77f9da"]]},{"id":"365e4dea.77f9da","type":"function","z":"e9cabb74.fe91","name":"store index.xml","func":"var index = msg.zip.find(obj => obj.filename == 'index.xml');\nif (index) {\n    index.payload = new Buffer(msg.payload);\n}\nif (msg.images.length) { // if there are images then load them\n    return [msg,null];\n} else { // no image just skip the steps\n    msg.payload = msg.zip;\n    delete msg.filename; // otherwise it confuse the zip plugin\n    return [null,msg];\n}\n\n\n","outputs":2,"noerr":0,"x":340,"y":3960,"wires":[["a0a585b9.046de8"],["4484e701.bdad08"]]},{"id":"4484e701.bdad08","type":"zip","z":"e9cabb74.fe91","name":"zip","mode":"compress","filename":"","outasstring":false,"x":710,"y":3860,"wires":[["7ea54c3f.e6735c"]]},{"id":"a0a585b9.046de8","type":"change","z":"e9cabb74.fe91","name":"images-> payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"images","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":3580,"wires":[["dc38634a.de087"]]},{"id":"dc38634a.de087","type":"split","z":"e9cabb74.fe91","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":3620,"wires":[["d766e400.f017"]]},{"id":"18b85758.0ece31","type":"join","z":"e9cabb74.fe91","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":710,"y":3780,"wires":[["c56183e8.384d1"]]},{"id":"c56183e8.384d1","type":"function","z":"e9cabb74.fe91","name":"add to zip","func":"for(i=0; i < msg.payload.length; i++) {\n    msg.zip.push(msg.payload[i]);\n}\nmsg.payload = msg.zip;\ndelete msg.filename; // otherwise it confuse the zip plugin\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":3820,"wires":[["4484e701.bdad08"]]},{"id":"d766e400.f017","type":"change","z":"e9cabb74.fe91","name":"set url and keep filename","rules":[{"t":"set","p":"fname","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3660,"wires":[["def22e2d.76f8d8","7f89180e.4f4028"]]},{"id":"def22e2d.76f8d8","type":"http request","z":"e9cabb74.fe91","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":3700,"wires":[["a417b3b.5b29e5"]]},{"id":"a417b3b.5b29e5","type":"function","z":"e9cabb74.fe91","name":"add file to zip","func":"msg.payload = {\n        filename: 'public\\\\document\\\\images\\\\' + msg.fname,\n        payload: msg.payload\n    };\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":3740,"wires":[["18b85758.0ece31"]]},{"id":"7146d87.17e7a28","type":"function","z":"e9cabb74.fe91","name":"OK","func":"msg.payload = 'OK';\nreturn msg;\n","outputs":1,"noerr":0,"x":1670,"y":3080,"wires":[["8d229b3f.1b3228"]]},{"id":"5ab5152b.be829c","type":"function","z":"e9cabb74.fe91","name":"is there an options.json","func":"var options = msg.zip.find(obj => obj.filename == 'public\\\\document\\\\snippets\\\\options.json');\nif (options) {\n    var b=Buffer.from(options.payload);\n    msg.payload.options = JSON.parse(b.toString()); \n} else {\n    msg.payload.options = {conditions: [], variables: [], \"style_formats\": []}; \n}\n\nreturn msg;    \n","outputs":1,"noerr":0,"x":1530,"y":2700,"wires":[["3889f4d7.1abe2c"]]},{"id":"b6ec91a1.a8313","type":"comment","z":"e9cabb74.fe91","name":"!!!!!!!!!!!!!!!!!!!!!!!! Should return an error","info":"","x":320,"y":3060,"wires":[]},{"id":"44041e71.e9b68","type":"http in","z":"e9cabb74.fe91","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1680,"wires":[["dd172b36.4250c"]]},{"id":"dd172b36.4250c","type":"function","z":"e9cabb74.fe91","name":"Status OK","func":"msg.payload = {status: \"Didier OK\"};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1680,"wires":[["446bc20f.4cfa3c"]]},{"id":"d90984fa.eae78","type":"function","z":"e9cabb74.fe91","name":"filename -> templateEditor","func":"msg.filename = flow.get(\"resourcePath\") +'/templateEditor.html';\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2101,"wires":[["8d229b3f.1b3228"]]},{"id":"e699f66d.1fe8a","type":"http in","z":"e9cabb74.fe91","name":"","url":"/ted_editor","method":"post","upload":false,"swaggerDoc":"","x":200,"y":2160,"wires":[["71b8f5fc.1a0414"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"9182e203.fbd4f","type":"file in","z":"e9cabb74.fe91","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":610,"y":2160,"wires":[["e328d186.997a1"]]},{"id":"71b8f5fc.1a0414","type":"function","z":"e9cabb74.fe91","name":"filename -> templateEditor","func":"msg.filename = flow.get(\"resourcePath\") +'/templateEditor.html';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2160,"wires":[["9182e203.fbd4f"]]},{"id":"e328d186.997a1","type":"function","z":"e9cabb74.fe91","name":"filename -> template-editor.js","func":"msg.template = msg.payload;\nmsg.filename = flow.get(\"resourcePath\") +'/template-editor.js';\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2160,"wires":[["6e353b09.302bfc"]]},{"id":"6e353b09.302bfc","type":"file in","z":"e9cabb74.fe91","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":1010,"y":2160,"wires":[["e625e4ca.ace538"]]},{"id":"e625e4ca.ace538","type":"function","z":"e9cabb74.fe91","name":"merge both","func":"msg.payload = msg.template.replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/g, '<script>'+ msg.payload + '\\ninit()\\n</script>');\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":2160,"wires":[["8d229b3f.1b3228"]]},{"id":"e2508cf6.8125c","type":"function","z":"e9cabb74.fe91","name":"set variables for preview","func":"msg.topic = 'preview';\nmsg.bank = msg.payload.bank;\nmsg.filename = flow.get(\"templatePath\") + '/'+ msg.bank + '/' + msg.payload.templateName + '/big.json';\nmsg.template = msg.bank + msg.payload.templateName+'.ol-template';\nmsg.recordNum = msg.payload.recordNum;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1140,"wires":[["44072bbf.8c55b4"]]},{"id":"4da20cc2.5fd22c","type":"change","z":"e9cabb74.fe91","name":"WPdata and preserve payload","rules":[{"t":"set","p":"WPdata","pt":"msg","to":"payload.json","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.json","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1060,"wires":[["f3ea40ef.eda608"]]},{"id":"f3ea40ef.eda608","type":"json","z":"e9cabb74.fe91","name":"WPdata parse","property":"payload","action":"","pretty":false,"x":460,"y":1100,"wires":[["e2508cf6.8125c"]]},{"id":"44072bbf.8c55b4","type":"file in","z":"e9cabb74.fe91","name":"load large data file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":1180,"wires":[["65fb8adb.83705c"]]},{"id":"65fb8adb.83705c","type":"json","z":"e9cabb74.fe91","name":"parse datafile","property":"payload","action":"","pretty":false,"x":460,"y":1220,"wires":[["82ffb063.6bca38"]]},{"id":"82ffb063.6bca38","type":"function","z":"e9cabb74.fe91","name":"set more variables","func":"\n//move payload into data\nmsg.payload = {data : msg.payload[parseInt(msg.recordNum)]};\n//insert WPdata payload in the data\n\nif (Array.isArray(msg.payload.data)) {\nfor (i = 0; i < msg.payload.data.length; i++) {\n        msg.payload.data[i].WPdata = msg.WPdata;\n    }   \n} else {\n    msg.payload.data.WPdata = msg.WPdata;\n}\nmsg.jobinfos = {template : msg.template};\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":1260,"wires":[["6b523eee.2309b8"]]},{"id":"cc8e4e4.6a0edb","type":"http in","z":"e9cabb74.fe91","name":"","url":"preview","method":"post","upload":false,"swaggerDoc":"","x":220,"y":1060,"wires":[["3ea57949.49ab26","4da20cc2.5fd22c"]]},{"id":"f90da7c9.d032c8","type":"http response","z":"e9cabb74.fe91","name":"","statusCode":"200","headers":{"content-type":"application/pdf"},"x":1140,"y":1260,"wires":[]},{"id":"a6539211.1698a8","type":"base64","z":"e9cabb74.fe91","name":"convert to base 64","action":"","property":"payload","x":890,"y":1220,"wires":[["72869609.da1218"]]},{"id":"72869609.da1218","type":"function","z":"e9cabb74.fe91","name":"prepend application/pdf","func":"msg.payload = \"data:application/pdf;base64,\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1260,"wires":[["f90da7c9.d032c8"]]},{"id":"6b523eee.2309b8","type":"olc-create-preview-pdf","z":"e9cabb74.fe91","server":"87abfb49.329e98","template":"{{{template}}}","name":"","x":900,"y":1100,"wires":[["c1e2eda8.bf956"]]},{"id":"c1e2eda8.bf956","type":"switch","z":"e9cabb74.fe91","name":"status code?","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":1140,"wires":[["e9cc24f5.ad7b9"],["a6539211.1698a8"]]},{"id":"e9cc24f5.ad7b9","type":"function","z":"e9cabb74.fe91","name":"set filename to error.pdf","func":"msg.filename = flow.get(\"templatePath\") + '/error.pdf';\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1140,"wires":[["fd0c5238.b99258"]]},{"id":"fd0c5238.b99258","type":"file in","z":"e9cabb74.fe91","name":"load file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":1180,"wires":[["a6539211.1698a8"]]},{"id":"7ba670e3.3432c","type":"comment","z":"c0348924.26f378","name":"-------------- get persistent file in the file store","info":"","x":370,"y":100,"wires":[]},{"id":"4cbb85d9.47c6e4","type":"mysql","z":"c0348924.26f378","mydb":"8472406d.86a92","name":"","x":710,"y":160,"wires":[["3c071095.910018"]]},{"id":"3f72d4f2.c74ad4","type":"function","z":"c0348924.26f378","name":"SELECT * FROM ... ","func":"msg.filter = msg.payload.toLowerCase();\nmsg.topic = 'SELECT * FROM objectiflune.managedfile WHERE DATECREATED = \"9999-10-09 00:00:00\"';\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["4cbb85d9.47c6e4"]]},{"id":"7fb7aca.25bced4","type":"inject","z":"c0348924.26f378","name":"","topic":"","payload":"belfius","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":160,"wires":[["3f72d4f2.c74ad4"]]},{"id":"3c071095.910018","type":"function","z":"c0348924.26f378","name":"filter","func":"msg.matching = [];\nfor (i=0; i < msg.payload.length; i++) {\n    if (msg.payload[i].NAME.toLowerCase().includes(msg.filter)) {\n        msg.matching.push(msg.payload[i].NAME);\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["ccb9296a.83ea18"]]},{"id":"ccb9296a.83ea18","type":"debug","z":"c0348924.26f378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":180,"wires":[]},{"id":"7f89180e.4f4028","type":"debug","z":"e9cabb74.fe91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":3660,"wires":[]},{"id":"5e0202f.c64677c","type":"debug","z":"e9cabb74.fe91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":3500,"wires":[]}]